# Python
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary directories
**/chromium_user_data_*/
